.mainGrid {
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center; }

@media screen and (max-width: 991px) {
  .eleLinks {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, 130px); } }

.picPre {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  overflow: hidden; }
  .picPre img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.namePage p,
.namePage a {
  color: #fff; }

.namePage h2 {
  color: #cff4fc; }

.container-lg {
  margin-top: 30px; }

label[for="checkedAll"] {
  color: #cff4fc; }

.namePage a:hover {
  color: #c5c5c5; }

table {
  margin-bottom: 32% !important; }
