.hero-section {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  padding: 0 15px; }

.hero-child {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.hero-section .hero {
  max-width: 50%;
  color: #fff; }

.hero h2 {
  font-size: 2.2rem; }

.hero span {
  font-size: 1.2rem;
  color: #bebebe; }

.hero-section .img img {
  width: 440px; }

.hero-section .buttons a {
  text-decoration: none;
  color: #fff;
  padding: 12px 35px;
  transition: 0.25s;
  display: inline-block; }

.buttons .login-btn,
.hero-section .buttons a:hover {
  background-color: #47b2e4; }

@media screen and (max-width: 1023px) {
  .header .buttons,
  .hero-section img {
    display: none; }
  .hero-section .hero {
    max-width: 100%;
    text-align: center; } }

@media screen and (max-width: 1111px) {
  .hero h2 {
    font-size: 2rem; } }
