<section class="hero bg-primary py-5 rounded-top-5">
	<div class="container w100">
		<div class="title d-flex flex-column text-center text-light mb-4">
			<h1 class="lh-1">TikTok Video Download</h1>
			<h2 class="lh-1">Without Watermark. Fast. All devices</h2>
		</div>
		<form class="d-flex justify-content-evenly">
			<div class="message"><div class="message-body"></div></div>
			<div class="input-group w-75">
				<input
					placeholder="Paste TikTok link here"
					name="url"
					id="url"
					class="form-control"
					type="url"
					required=""
					autocomplete="on"
					autocapitalize="none"
				/>
				<span class="btn btn-info" type="button">
					<div class="btnPaste">
						<i class="fa-solid fa-paste me-1"></i>
						<span>Paste</span>
					</div>
					{{! <div class="btnClear">
						<i class="fa-solid fa-xmark me-1"></i>
						<span>Clear</span>
					</div> }}
				</span>
			</div>
			<button type="submit" class="btn btn btn-warning btnDown">
				<i class="fa-solid fa-down-to-bracket me-1"></i>
				Download
			</button>
		</form>
	</div>
</section>