<section class="hero-section">
	<div class="hero-child">
		<div class="hero">
			<h2 class="mb-4">KimiZK - Share Resources For You</h2>
			<span class="textEff">Together we build a strong community where
				each member contributes and learns from each other. Don't be
				afraid to share your experiences and ideas, because our
				development is in everyone's hands.</span>
			<div class="mt-4 buttons">
				<a
					draggable="false"
					href="forms/signin"
					class="login-btn me-4 rounded"
				>Sign In</a>
				<a
					draggable="false"
					href="forms/signup"
					class="signin-btn border border-light rounded"
				>Sign Up</a>
			</div>
		</div>
		<div class="img">
			<img
				draggable="false"
				src="https://fiasoft.com.vn/uploads/logobanner/image-vision.webp"
				alt="Null"
			/>
		</div>
	</div>
</section>