<section class="list mt-5 container">
	<div class="d-grid justify-content-center gap-4">
		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="frontCard">
					<p class="nameSocial">Youtube</p>
					<p class="usage">
						Free
						<i class="fa-solid fa-fire" style="color: #ff1900;"></i>
					</p>
					<img src="https://i.ibb.co/BZCyQML/image.png" alt="imgbg" />
				</div>
				<div
					class="backCard d-flex flex-column justify-content-evenly p-5"
					style="background-color: #ff8888;"
				>
					<div class="info text-center">
						<h3>YT DOWNLOAD</h3>
						<p>Công cụ tải video, nhạc miễn phí ở Youtube mà bạn có
							thể cần tới :3</p>
					</div>
					<div class="actions text-center">
						<a href="ytdown" draggable="false">
							<button class="button">
								<span class="button_lg">
									<span class="button_sl"></span>
									<span class="button_text">Truy cập tới</span>
								</span>
							</button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="flip-card">
			<div class="flip-card-inner">
				<div class="frontCard">
					<p class="nameSocial">Tiktok</p>
					<p class="usage">
						Free
						<i class="fa-solid fa-fire" style="color: #ff1900;"></i>
					</p>
					<img
						src="https://cdn.pixabay.com/photo/2021/06/15/12/28/tiktok-6338429_960_720.png"
						alt="imgbg"
					/>
				</div>
				<div
					class="backCard d-flex flex-column justify-content-evenly p-5"
					style="background-color: #00000048;"
				>
					<div class="info text-center">
						<h3>TT DOWNLOAD</h3>
						<p>Công cụ tải video, nhạc miễn phí ở Tiktok mà bạn có
							thể cần tới :3</p>
					</div>
					<div class="actions text-center">
						<a href="downtik" draggable="false">
							<button class="button">
								<span class="button_lg">
									<span class="button_sl"></span>
									<span class="button_text">Truy cập tới</span>
								</span>
							</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>