<form
	class="container form-login mt-4"
	method="POST"
	action="/forms/auth/login"
>
	<div class="container text-center">
		<h1>LOGIN</h1>
		<a href="signup">Sign Up</a>
	</div>

	<div class="mb-3">
		<label for="userName" class="form-label">User Name</label>
		<input
			type="text"
			class="form-control"
			id="userName"
			name="userName"
			autocomplete="username"
		/>
	</div>

	<div class="mb-3">
		<label for="password" class="form-label">Password</label>
		<input
			type="password"
			class="form-control"
			id="password"
			name="password"
			autocomplete="current-password"
		/>
	</div>

	<div class="mb-3 form-check">
		<input
			type="checkbox"
			class="form-check-input"
			id="checkBox"
			name="checkBox"
		/>
		<label class="form-check-label" for="checkBox">Remember me!</label>
	</div>
	<button class="btn btn-primary submitBtn">Submit</button>
</form>

<style>
	.form-check-label, .form-check-input { cursor: pointer; } .form-login {
	user-select: none; margin-bottom: 60px }
</style>