<div class="flex d-flex justify-content-center">
	<form class="w-75" method="POST" action="store">
		<div class="input mb-3">
			<label class="form-label" for="name">Name Project</label>
			<input
				id="name"
				class="form-control"
				autocomplete="on"
				name="name"
				type="text"
			/>
		</div>
		<div class="input mb-3">
			<label class="form-label" for="desc">Description</label>
			<input
				id="desc"
				class="form-control"
				autocomplete="on"
				name="desc"
				type="text"
			/>
		</div>
		<div class="input mb-3">
			<label class="form-label" for="preview">Link Preview</label>
			<input
				id="preview"
				class="form-control"
				autocomplete="on"
				name="preview"
				type="url"
			/>
		</div>
		<div class="input mb-3">
			<label class="form-label" for="downLink">Link Download</label>
			<input
				id="downLink"
				class="form-control"
				autocomplete="on"
				type="url"
				name="downLink"
			/>
		</div>

		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
</div>