<div class="text-center noyi">
	<h1>Bạn chưa có tài khoản!</h1>
	<p>Vui lòng truy cập tới <a href="/forms/signup">đây!</a></p>
	<p>Để tạo tài khoản mới!</p>
</div>

<style>
	notiUser{ height: 75vh; }
</style>